<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    
    <div class="jumbotron">
      <h1>New Books</h1>
      <div class="row">
        <% @new_books.each do |book| %>
        <div class="col-6 col-sm-6 col-lg-4 text-center">
          <h3><%= book.title %></h3>
          <img src="http://placehold.it/150x150"> 
          <p><%= book.author %></p>
          <p><%= book.price %></p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      
        <% end %>
      
      </div>
    </div>

    <h1>Order by Author</h1>    
    
    <div class="row">
      <% @books_ordered_by_author.each do |book| %>
      <div class="col-6 col-sm-6 col-lg-4 text-center">
        <h3><%= book.title %></h3>
        <img src="http://placehold.it/150x150"> 
        <p><%= book.author %></p>
        <p><%= book.price %></p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      
      <% end %>
      
    </div>    
  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <% @authors.each do |author| %>
        <a href='<%="/authors/#{author}"%>' class="list-group-item"><%= author %></a>
      <% end %>
    </div>
  </div><!--/span-->
</div><!--/row-->

<hr>







