<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<b>Comments</b>
<div class="well well-sm">
  <%= form_for(@comment, html: {class: "form-comment"}) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :content, placeholder: 'new comments' %>
    </div>
    <div class="field">
      <%= f.hidden_field :book_id, value: @book.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  
  <table id="table_comments" class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Content</th>
        <th>Admin</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.admin.email %></td>
          <td>
            <%= link_to 'Show', comment %>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
